*{
    margin: 0px;
    padding: 0px;
}
body{
   
   font-family: Arial, Helvetica, sans-serif;
   background-image:linear-gradient(to right, #811db9, #2e1978, #437dd6);
}

main{
  display: flex;
  margin: auto auto auto 0px;
  width: 1350px;
  height: 618px;
  border: 4px solid cornsilk;
  justify-content: space-around;
  
}

.conteudo{
 display: flex;
 border: 4px solid white;
 width: 400px;
 height: 600px;
 border-radius: 10px;
 box-shadow: 4px 4px 4px rgba(26, 245, 216, 0.603);
 margin: 5px 5px 5px 5px;
 
}

.resultado{
  display: flex;
  width: 300px;
  height: 600px;
  align-content: flex-start;
  margin: 5px 5px 5px 5px;
  justify-content: center;
  border: 4px solid white; 
  border-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: 2em;
}

.img{
  display: flex;
  font-weight: bold;
  color: white;
  margin: 5px 5px 5px 5px;
  font-size: 1.5em; 
  width: 500px;
  height: 400px;
}


/*h1{
  width: 300px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px 4px rgb(10, 233, 222);
  padding: 10px 5px;
  flex-basis: content;
  margin: 0px auto;
}

h1:hover{
  background-image:linear-gradient(to right, #800909, #2e1978, #01050c);
  transition-duration: 0.5s;
  border-radius: 20px;
}

h2{
  width: 200px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px 4px rgb(10, 233, 222);
  padding-top: 20px;
  flex-basis: content;
  margin: 0px auto;
}

h2:hover{
  background-image:linear-gradient(to right, #800909, #2e1978, #01050c);
  transition-duration: 0.5s;
  border-radius: 20px;
}

p{
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  margin-left: 10px;
}

.divnome{
  margin-left: 30px;
  
}

.divpeso {
  margin-left: 30px;
  
}

.divaltura{
  margin-left: 30px;
  
}

#altura:hover{
  color: #2e1978;
  font-weight: bold;
  font-size: 22px;
  transition-duration: 0.5s;
}
#nome:hover{
  color: #2e1978;
  font-weight: bold;
  font-size: 22px;
  transition-duration: 0.5s;
  
}

#peso:hover{
  color: #2e1978;
  font-weight: bold;
  font-size: 22px;
  transition-duration: 0.5s;
}

input{
  box-shadow: 4px 4px 4px rgb(10, 233, 222);
  border-radius: 10px;
}


.botao{
  width: 400px;
  height: 40px;
  font-weight: bold;
  font-size: 1.25em;
  padding: 5px;
  border-radius: 20px;
}

.botao:hover{
  color: #2e1978;
  font-weight: bold;
  font-size: 22px;
  transition-duration: 0.5s;
}*/

.ordem0{order: 0;} .ordem1{order: 1;} .ordem2{ order: 2;}




